.container {
  padding: 0 2rem;
}

.main {
  min-height: 91vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.welcome {
  -webkit-animation: tracking-in-contract-bck 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  font-weight: 100;
}
.enterPage {
  color: #eaeaea;
  background-color: black;
  border: none;
  border-radius: 35%;
  height: 3rem;
  width: 2.8rem;
  animation: displ 0.5s linear 0.9s both;
  transition: 0.2s ease-in-out;
}
.enterPage:hover{
  color: var(--prime);
  background-color: #eaeaea;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes displ {
  from {
    opacity: 0;
  }
}
